{% extends 'base.html' %}

{% block content %}

  <h1 class="title">View Application</h1>

  <h2 class="subtitle">{{ application.job.title }}</h2>

  <small>Date added: {{ application.created_at }}</small>

  <p><strong>Content: </strong></p>
  <p>{{ application.content }}</p>
  <p><strong>Experience: </strong></p>
  <p>{{ application.experience }}</p>

  <hr>

  <h2 class="subtitle">Conversation</h2>
  {% for message in conversation_messages.all %}
    <div class="notification">
      <b>{{ message.created_by.username }} - {{ message.created_at|timesince }} ago</b>
      {{ message.content }}
    </div>

  {% empty %}
    <p>No messages yet ...</p>
    <hr>

  {% endfor %}

  <form action="." method="post">
    {% csrf_token %}
    <div class="field">
      <div class="control">
        <textarea class="textarea" name="content" id="content" placeholder="Your message"></textarea>
      </div>
    </div>

    <div class="field">
      <div class="control">
        <button class="button is-success">Send</button>
      </div>
    </div>
  </form>

{% endblock content %}



